ion-content {
  --background: #f5f5f5;
}

ion-item.user-message {
  justify-content: flex-end;
  text-align: right;
}

ion-item.user-message ion-label {
  text-align: right;
}

ion-item.user-message .message-content {
  background-color: #e7f0e0; /* light green for user's messages */
  color: rgb(11, 39, 75);
  padding: 8px 12px;
  border-radius: 18px;
  display: inline-block;
  margin-left: auto;
}
.dropdown-menu {
  position: absolute;
  top: 56px; /* below toolbar */
  right: 10px;
  z-index: 1000;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 180px;
}

ion-item.other-message .message-content {
  background-color: #e5e5ea; /* light grey for others' messages */
  padding: 8px 12px;
  border-radius: 18px;
  display: inline-block;
  margin-right: auto;
}



.message-content {
  background: white;
  border-radius: 8px;
  color: black;
  padding: 8px;
  margin: 4px 0;
  max-width: 80%;
}

.user-message {
  --background: transparent;
  
  .message-content {
    background: var(--ion-color-primary);
    color: white;
    margin-left: auto;
  }

  .timestamp {
    color: rgba(3, 3, 32, 0.7);
  }
}

.timestamp {
  display: block;
  font-size: 0.8em;
  color: var(--ion-color-medium);
  margin-top: 4px;
}

ion-footer {
  ion-toolbar {
    --padding-top: 0;
    --padding-bottom: 0;
  }

  ion-item {
    --padding-start: 8px;
    --padding-end: 8px;
  }

  ion-input {
    --padding-start: 8px;
  }
} 

ion-item {
  --inner-border-width: 0px;
}

.no-messages {
  text-align: center;
  font-size: 1.2em;
  color: var(--ion-color-medium);
  margin-top: 20px;
}

.files-container {
  margin-top: 8px;
  margin-bottom: 8px;
}

.file-item {
  --background: rgba(var(--ion-color-light-rgb), 0.5);
  border-radius: 8px;
  margin: 4px 0;
  --padding-start: 8px;
  --padding-end: 8px;
  --min-height: 40px;
}

.file-icon {
  font-size: 24px;
  color: var(--ion-color-primary);
}

.file-name {
  font-size: 0.9em;
  color: var(--ion-color-dark);
  margin: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-button {
  --padding-start: 4px;
  --padding-end: 4px;
}