<app-nav-header title="Modifier l'incident" backUrl="/incident-list"></app-nav-header>

<ion-content class="ion-padding">
  <div *ngIf="error" class="ion-text-center ion-padding">
    <ion-icon name="alert-circle-outline" color="danger" size="large"></ion-icon>
    <p>{{ error }}</p>
  </div>

  <form [formGroup]="incidentForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Désignation *</ion-label>
      <ion-input formControlName="designation" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Date de l'incident *</ion-label>
      <ion-input formControlName="date" type="date"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Date de déclaration *</ion-label>
      <ion-input formControlName="dateDeclaration" type="date"></ion-input>
    </ion-item>

    <ion-item-divider>
      <ion-label>Équipes</ion-label>
    </ion-item-divider>

    <ion-grid>
      <ion-row class="header-row">
        <ion-col size="3">Nom et prénom</ion-col>
        <ion-col size="2">Superviseur</ion-col>
        <ion-col size="2">Membre</ion-col>
        <ion-col size="2">À informer</ion-col>
        <ion-col size="2">Commentaire</ion-col>
        <ion-col size="1">Actions</ion-col>
      </ion-row>

      <ion-row *ngFor="let participant of participants" class="participant-row">
        <ion-col size="3">{{ participant.fullName }}</ion-col>
        <ion-col size="2">
          <ion-checkbox 
            [formControl]="participant.isAdminControl"
            (ionChange)="updateParticipantRoles(participant, 'supervisor', $event.detail.checked)">
            Superviseur
          </ion-checkbox>
        </ion-col>
        <ion-col size="2">
          <ion-checkbox 
            [formControl]="participant.isMemberControl"
            (ionChange)="updateParticipantRoles(participant, 'member', $event.detail.checked)">
            Membre
          </ion-checkbox>
        </ion-col>
        <ion-col size="2">
          <ion-checkbox 
            [formControl]="participant.isInformedControl"
            (ionChange)="updateParticipantRoles(participant, 'informed', $event.detail.checked)">
            Informé
          </ion-checkbox>
        </ion-col>
        <ion-col size="2">
          <ion-input [formControl]="participant.commentControl" placeholder="Ajouter un commentaire"></ion-input>
        </ion-col>
        <ion-col size="1">
          <ion-button fill="clear" color="danger" (click)="removeParticipant(participant)" [disabled]="participant.id === currentUser?.id">
            <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item button (click)="addParticipant()">
      <ion-icon name="add-outline" slot="start"></ion-icon>
      <ion-label>Ajouter un membre</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea formControlName="description" rows="4"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Durée</ion-label>
      <ion-input formControlName="duration" type="number" min="0"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Causes</ion-label>
      <ion-textarea formControlName="causes" rows="4"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Conséquences</ion-label>
      <ion-textarea formControlName="consequences" rows="4"></ion-textarea>
    </ion-item>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" [disabled]="!incidentForm.valid || isSubmitting">
        <ion-spinner *ngIf="isSubmitting"></ion-spinner>
        <span *ngIf="!isSubmitting">Enregistrer</span>
      </ion-button>
      <ion-button expand="block" fill="clear" routerLink="/incident-list">
        Annuler
      </ion-button>
    </div>
  </form>
</ion-content> 