<app-nav-header title="Modifier l'incident" backUrl="/incident-list"></app-nav-header>

<ion-content class="ion-padding">
  <form class=" page-content" [formGroup]="incidentForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label class="label" position="stacked">Désignation:</ion-label>
      <input  maxlength="100"  class="input" formControlName="designation" type="text"/>
    </ion-item>     
<div class="dates">
    <ion-item>
      <ion-label class="label" position="stacked">Date de l'incident:</ion-label>
      <input class="input-label" formControlName="date" type="date"/>
    </ion-item>

    <ion-item>
      <ion-label class="label" position="stacked">Date de déclaration:</ion-label>
      <input class="input-label" formControlName="dateDeclaration" type="date"/>
    </ion-item>
  </div>
    <ion-item-divider *ngIf="false">
      <ion-label class="label">Équipes</ion-label>
    </ion-item-divider>
  <div class="scrollable-grid" *ngIf="false">
    <ion-grid class="sc rollable-content">  
      <ion-row class="header-row">
        <ion-col size="3">Nom et prénom</ion-col>
        <ion-col size="2">Superviseur</ion-col>
        <ion-col size="2">Membre</ion-col>
        <ion-col size="2">À informer</ion-col>
        <ion-col size="2">Commentaire</ion-col>
      </ion-row>

      <ion-row *ngFor="let participant of participants" class="participant-row">
        <ion-col size="3">{{ participant.fullName }}</ion-col>
        <ion-col size="2">
          <ion-checkbox 
            [formControl]="participant.isAdminControl"
            (ionChange)="updateParticipantRoles(participant, 'supervisor', $event.detail.checked)"> 
          </ion-checkbox>
        </ion-col>
        <ion-col size="2">
          <ion-checkbox 
            [formControl]="participant.isMemberControl"
            (ionChange)="updateParticipantRoles(participant, 'member', $event.detail.checked)">
          </ion-checkbox>
        </ion-col>
        <ion-col size="2">
          <ion-checkbox 
            [formControl]="participant.isInformedControl"
            (ionChange)="updateParticipantRoles(participant, 'informed', $event.detail.checked)">
          </ion-checkbox>
        </ion-col>
        <ion-col size="2">
          <ion-input [formControl]="participant.commentControl" placeholder="Ajouter un commentaire"></ion-input>
        </ion-col>
        <ion-col size="1">
          <ion-button fill="clear" color="danger" (click)="removeParticipant(participant)" [disabled]="participant.id === currentUser?.id">
            <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item button (click)="addParticipant()">
      <ion-icon name="add-outline" slot="start"></ion-icon>
      <ion-label>Ajouter un membre</ion-label>
    </ion-item>
  </div>
    <div class="description-section">
      <div class="description-label">Description</div>
      <quill-editor
      class="richText"
        formControlName="description"
        [modules]="editorModules"
        theme="snow"
        placeholder="Écris ici...">
      </quill-editor>
    </div>
    
    <ion-item>
      <ion-label class="label" position="stacked">Durée (en minutes)</ion-label>
      <input class="input"formControlName="duration" type="number" min="0"/>
    </ion-item>

      
      
    <div class="description-section">
      <div class="description-label">constat</div>
      <quill-editor
        class="richText"
        formControlName="observation"
        [modules]="editorModules"
        theme="snow"
        placeholder="Écris ici...">
      </quill-editor>
    </div>

    <div class="description-section">
      <div class="description-label">causes</div>
      <quill-editor
      class="richText"
        formControlName="causes"
        [modules]="editorModules"
        theme="snow"
        placeholder="Écris ici...">
      </quill-editor>
    </div>

    <div class="description-section">
      <div class="description-label">consequences</div>
      <quill-editor
      class="richText"
        formControlName="consequences"
        [modules]="editorModules"
        theme="snow"
        placeholder="Écris    ici...">
      </quill-editor>
    </div>

    <app-incident-media></app-incident-media>
    <div class="ion-padding BUTTONS">
      <ion-button expand="block" type="submit" [disabled]="!incidentForm.valid || isSubmitting">
        <ion-spinner *ngIf="isSubmitting"></ion-spinner>
        <span *ngIf="!isSubmitting">Enregistrer</span>
      </ion-button>
      <ion-button style="border: solid 1px;border-radius: 5px;" expand="block" fill="clear" routerLink="/incident-list">
        Annuler
      </ion-button>
    </div>
  </form>
</ion-content> 